<body>
<div class='container'>
	<h1>Zisti demografické informácie o svojom kraji, okrese či meste</h1>
	Dáta boli získané zo stránok Štatistického úradu Slovenskej republiky
</div>
<hr class="divider">
</body>

<p>Find me in app/views/home_page/index.html.erb</p>
