<div class="jumbotron">
  <h1>Zisti demografické informácie o svojom kraji, okrese či meste! </h1>
  <p>Vedeli ste, že: </p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Chcem vedieť viac</a></p>
</div>

<p>Find me in app/views/home_page/index.html.erb</p>
