<div class='container'>
  <div class='row'>
    <div class='col-xs-6' align="center">
      <h3>Vyber si obdobie, ktoré ťa zaujíma</h3>
    </div>
    <div class='col-xs-6' align="center">
      <h3>Hľadaj konkrétne podľa krajov Slovenska</h3>  
    </div> 
  </div>
  <div class='row'>
    <div class='col-xs-6' align="center">
      <%= form_tag(years_path, method: 'get') do %> 
      <%= submit_tag 'Vybrať', class: "btn btn-primary" %>
      <%end%>
    </div>
    <div class='col-xs-6' align="center">
      <%= link_to 'Pokračuj tu', searches_path, class: "btn btn-primary"%>
    </div>
    <hr/>
  </div>
</div>
<div class="container">
  <div class="row" align="center">
      <%= link_to 'Chcem pridať nový záznam do Štatistík!', addforms_path, class: "btn btn-primary"%>
  </div>
</div>
