<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class='bd-pageheader'>
        <div class='container'>
          <h1 style="color: white">Vitajte na stránke DemografSK!</h1>
          <p style="color: white">

            Údaje boli získané zo stránky Štatistického úradu SR

          </p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class='bd-pageheader'>
        <div class='container'>
          <h1 style="color: white">Nájdi informácie o meste, ktoré hľadáš!</h1>
          <p style="color: white">

            Údaje boli získané zo stránky Štatistického úradu SR

          </p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class='bd-pageheader'>
        <div class='container'>
          <h1 style="color: white">Demografia Slovenska na jednom mieste!</h1>
          <p style="color: white">

            Údaje boli získané zo stránky Štatistického úradu SR

          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->