<footer class="bd-footer text muted" style="position: fixed">
		<p class='text-muted'>Všetky informácie boli zozbierané zo stránky Štatistického úradu Slovenskej republiky.</p>
		<p class= 'text-muted'>Kontakty: hucko.andrej.mail@gmail.com</p>
</footer>
