<header class='navbar navbar-light'>
  <nav class='container'>
    <div class='row'>
      <div class="col-6 col-md-4"><p class="text-center"><%= link_to 'Domov', root_path%></p></div>
      <div class="col-6 col-md-4"><p class='text-center'>DemografSK</p></div>
      <div class="col-6 col-md-4"><p class="text-center"><%= link_to 'Hľadaj', searches_path%></p></div>
    </div>
  </nav> 
</header>
