<div class="container" style="padding-bottom: 10px;">
    <div class='row'>
      <div class="col-6 col-md-4 size" align="center"><%= link_to 'Domov', root_path%></div>
      <div class="col-6 col-md-4 size" align="center">DemografSK</div>
      <div class="col-6 col-md-4 size" align="center"><%= link_to 'Hľadaj', towns_path%></div>
    </div>
</div>
