<div>
 <h3>Kraj sa skladá z <%= @cantons.count %> okresov</h3>
</div>

<div id='container'>
  <% @cantons.each_slice(3) do |cantons| %>
  <div class="row">
  <% cantons.each do |canton|%>
    <div class='col-md-4'>
      <h6><%= link_to canton.name, towns_path(:canton_id => canton.id) %></h6>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
