<div>
	<h3>Vyber si, z krajov:</h3>
</div>
<div id='container'>
	<% @counties.each_slice(5) do |counties| %>
  <div class="row">
    <% counties.each do |county|%>
    <div class='col-md-2'>
      <h6><%= link_to county.name, cantons_path(:county_id => county.id) %></h6>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
