<h3 align="center">Vyber si mesto, ktorého informácie hľadáš</h3>

<script type="text/javascript" charset="utf-8">
    jQuery(function ($) {
        $.fn.hScroll = function (amount) {
            amount = amount || 120;
            $(this).bind("DOMMouseScroll mousewheel", function (event) {
                var oEvent = event.originalEvent,
                    direction = oEvent.detail ? oEvent.detail * -amount : oEvent.wheelDelta,
                    position = $(this).scrollLeft();
                position += direction > 0 ? -amount : amount;
                $(this).scrollLeft(position);
                event.preventDefault();
            })
        };
    });

    $(document).ready(function() {
        $('#pagination_table').hScroll(60); // You can pass (optionally) scrolling amount
    });
</script>

<div class="container">
  <div class="row" align="center">
    <%= alphabetical_paginate @alphaParams %>
  </div>
  <div class="row">
    <div class="container" id="pagination_table">
    <% @towns.each do |user| %>
          <%= link_to user.name, searches_path(:reason => user.name), class: "i grow btn btn-default btn-md"%>
    <% end %>
    </div>
  </div>
</div>