<div id='container'>
	<% @towns.each_slice(5) do |towns| %>
  <div class="row">
    <% towns.each do |town|%>
    <div class='col-md-2'>
      <h6><%= town.name %>
			</h6>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
